{
  "development": {
    "username": "postgres",
    "password": "postgres",
    "database": "proman_development",
    "host": "localhost",
    "dialect": "postgres"
  },
  "test": {
    "username": "postgres",
    "password": "postgres",
    "database": "proman_test",
    "host": "localhost",
    "dialect": "postgres"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "proman_production",
    "host": "127.0.0.1",
    "dialect": "postgres"
  }
}
